# Python Basics Part 2

In [1]:
list_prof = ['Asad', 'Ali', 20, 'Karachi', 5.9, 'Sindh']

In [2]:
list_prof

['Asad', 'Ali', 20, 'Karachi', 5.9, 'Sindh']

In [2]:
info_dict = {'name':'Ali','age':20,'addr':'Karachi', 'hgt':5.9}

In [4]:
info_dict['prov'] = 'Sindh'

In [3]:
info_dict

{'addr': 'Karachi', 'age': 20, 'hgt': 5.9, 'name': 'Ali'}

In [4]:
info_dict['prov'] = 'Punjab'

In [5]:
info_dict

{'addr': 'Karachi', 'age': 20, 'hgt': 5.9, 'name': 'Ali', 'prov': 'Punjab'}

In [6]:
list_prof

['Asad', 'Ali', 20, 'Karachi', 5.9, 'Sindh']

In [8]:
a = 0
for it_var in list_prof:
    print('Hello')
    print(a)
    a = a+1
print('FINISH')

Hello
0
Hello
1
Hello
2
Hello
3
Hello
4
Hello
5
FINISH

In [9]:
list_prof

['Asad', 'Ali', 20, 'Karachi', 5.9, 'Sindh']

In [11]:
len(list_prof)

6

In [12]:
list_prof[5]

'Sindh'

In [13]:
df = 5
df

5

In [14]:
df == 6

False

In [15]:
'Sindhasa' in list_prof

False

In [17]:
for it_var in list_prof:
    if it_var == 'Punjab':  
        print(it_var)
    else:
        try:
            print('I am in else')
            list_prof3.append('Punjab')
            print('Punjab')
        except:
            print('Error Occured')
            list_prof3 = [] # when list initilize then error will run

I am in else
Punjab
I am in else
Punjab
I am in else
Punjab
I am in else
Punjab
I am in else
Punjab
I am in else
Punjab

In [18]:
list_prof3

['Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab',
 'Punjab']

In [19]:
list_prof

['Asad', 'Ali', 20, 'Karachi', 5.9, 'Sindh']

In [20]:
for iter_var in list_prof:
    try:
        bva.ppend('hi')        
    except:
        print('error occured')

error occured
error occured
error occured
error occured
error occured
error occured

## Whitespace Is Important

In [21]:
listOfNumbers = [1, 2, 3, 4, 5, 6]

for number in listOfNumbers:
    print(number)
    if (number % 2 == 0):
        print("is even")
    else:
        print("is odd")        
print("All done.")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
All done.

## Importing Modules

In [29]:
import numpy as np
A = np.random.normal(25.0, 4, 10)  # till number,gap,totalNo
print(A)

[30.90011446 25.4747033  27.08433652 21.98780854 24.04130066 28.20302816
 22.61627953 21.37936881 32.02993949 26.01020343]

## Lists

In [30]:
x = [1, 2, 3, 4, 5, 6]
print(len(x))

6

In [31]:
x[:3]

[1, 2, 3]

In [32]:
x[3:]

[4, 5, 6]

In [33]:
x[-2:]

[5, 6]

In [34]:
a_list = [1,2,3]
list_prof.append(a_list)
list_prof

['Asad', 'Ali', 20, 'Karachi', 5.9, 'Sindh', [1, 2, 3]]

In [35]:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [39]:
y[1]

11

In [40]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [41]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples

In [44]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [45]:
y = (4, 5, 6)
y[2]

6

In [46]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [48]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

## Dictionaries

In [51]:
# Like a map or hash table in other languages
role = {}
role["CEO"] = "Ali"
role["CTO"] = "Raza"
role["Data Analyst"] = "Usman"
role["Jr Data Analyst"] = "Asad"

print(role["CEO"])

Ali

In [52]:
print(role.get("Jr Data Analyst"))

Asad

In [54]:
for designation in role:
    print(designation + ": " + role[designation])

CEO: Ali
CTO: Raza
Data Analyst: Usman
Jr Data Analyst: Asad

In [55]:
for key,value in role.items():
    print(key, ':' ,value)

CEO : Ali
CTO : Raza
Data Analyst : Usman
Jr Data Analyst : Asad

## Functions

In [56]:
def SquareIt(x):
    print('Value of x is', x)
    return x * x

print(SquareIt(2))

Value of x is 2
4

In [57]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 3))

Value of x is 3
9

In [62]:
#Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x , 4))

64

## Boolean Expressions

In [66]:
print(1 == 3)

False

In [67]:
print((True or False))

True

In [68]:
print(1 is 3)

False

In [72]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

All is well with the world

## Looping

In [73]:
for x in range(10):
    print(x),

0
1
2
3
4
5
6
7
8
9

In [74]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

In [75]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [76]:
integers = list(range(1, 11)) # create list of integers from 1 to 10

for element in integers:
    if element % 2 == 0: # element mod 2
        print(element)

2
4
6
8
10

In [48]:
print(integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
print(integers[0:5])

[1, 2, 3, 4, 5]