# Importing Data in Python

* Local File
    * Plain Text, csv, tsv
* DataBase
    * Sqlite
* Remote File
    * HTML, Json, Csv
* Excel File, Matlab .m File
* Web API - Facebook or Google API

# Reading Text file

In [1]:
file = open('KarachiAI.txt', 'r')

In [2]:
file.read()

'Karachi.AI\nCertified Data Analyst '

In [3]:
file.closed

False

In [4]:
file.close()

In [5]:
file.closed

True

In [6]:
a = 2+2
print(a)

4

In [7]:
# With Context Manager

In [8]:
with open('KarachiAI.txt','r') as file1:
    print(file1.read())

Karachi.AI
Certified Data Analyst

# Read .csv File

In [9]:
#numpy, pandas
import numpy as np
import pandas as pd

In [10]:
mnist_data = np.loadtxt('mnist.csv', dtype=float, comments='#', delimiter=',')

In [11]:
mnist_data

array([[5., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [12]:
titanic_data = np.genfromtxt('titanic.csv', delimiter=',', dtype=None, skip_header=1,encoding="utf-8")

In [13]:
titanic_data

array([( 1, '1st', 'Male', 'Child', 'No', '0'),
       ( 2, '2nd', 'Male', 'Child', 'No', '0'),
       ( 3, '3rd', 'Male', 'Child', 'No', '35'),
       ( 4, 'Crew', 'Male', 'Child', 'No', '0'),
       ( 5, '1st', 'Female', 'Child', 'No', '0'),
       ( 6, '2nd', 'Female', 'Child', 'No', '0‚êä'),
       ( 7, '3rd', 'Female', 'Child', 'No', '17'),
       ( 8, 'Crew', 'Female', 'Child', 'No', '0'),
       ( 9, '1st', 'Male', 'Adult', 'No', '118'),
       (10, '2nd', 'Male', 'Adult', 'No', '154'),
       (11, '3rd', 'Male', 'Adult', 'No', '387'),
       (12, 'Crew', 'Male', 'Adult', 'No', '670'),
       (13, '1st', 'Female', 'Adult', 'No', '4'),
       (14, '2nd', 'Female', 'Adult', 'No', '13'),
       (15, '3rd', 'Female', 'Adult', 'No', '89'),
       (16, 'Crew', 'Female', 'Adult', 'No', '3'),
       (17, '1st', 'Male', 'Child', 'Yes', '5'),
       (18, '2nd', 'Male', 'Child', 'Yes', '11'),
       (19, '3rd', 'Male', 'Child', 'Yes', '13'),
       (20, 'Crew', 'Male', 'Child', 'Yes', '0'),
       (21, '1st', 'Female', 'Child', 'Yes', '1'),
       (22, '2nd', 'Female', 'Child', 'Yes', '13'),
       (23, '3rd', 'Female', 'Child', 'Yes', '14'),
       (24, 'Crew', 'Female', 'Child', 'Yes', '0'),
       (25, '1st', 'Male', 'Adult', 'Yes', '57'),
       (26, '2nd', 'Male', 'Adult', 'Yes', '14'),
       (27, '3rd', 'Male', 'Adult', 'Yes', '75'),
       (28, 'Crew', 'Male', 'Adult', 'Yes', '192'),
       (29, '1st', 'Female', 'Adult', 'Yes', '140'),
       (30, '2nd', 'Female', 'Adult', 'Yes', '80')],
      dtype=[('f0', '<i4'), ('f1', '<U4'), ('f2', '<U6'), ('f3', '<U5'), ('f4', '<U3'), ('f5', '<U3')])

In [14]:
titanic  = pd.read_csv('titanic.csv', sep=',')

In [15]:
titanic.head()

   No Class     Sex    Age Survived Freq
0   1   1st    Male  Child       No    0
1   2   2nd    Male  Child       No    0
2   3   3rd    Male  Child       No   35
3   4  Crew    Male  Child       No    0
4   5   1st  Female  Child       No    0

# Excel Workbooks and Matlab .m File

In [16]:
import pandas as pd

In [17]:
file = pd.ExcelFile('ExcelTest.xlsx')

In [18]:
file.sheet_names

['s1', 's2']

In [19]:
df1 = file.parse('s1')
df2 = file.parse('s2')

In [20]:
df2.head()

,10,Xerox 1980,Neola Schneider,807,-166.85,4.28,6.18,Nunavut,Paper,0.4
0,1,Advantus Map Pennant Flags and Round Head Tacks,Neola Schneider,807,-14.330,3.95,2.00,Nunavut,Rubber Bands,0.53
1,1,Holmes HEPA Air Purifier,Carlos Daly,868,134.720,21.78,5.94,Nunavut,Appliances,0.50
2,1,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Carlos Daly,868,114.460,47.98,3.61,Nunavut,Computer Peripherals,0.71
3,1,"Wilson Jones 1"" Hanging DublLock¬Æ Ring Binders",Claudia Miner,933,-4.715,5.28,2.99,Nunavut,Binders and Binder Accessories,0.37
4,1,Ultra Commercial Grade Dual Valve Door Closer,Neola Schneider,995,782.910,39.89,3.04,Nunavut,Office Furnishings,0.53

In [21]:
# Loading Matlab from Scipy
from scipy.io import loadmat

In [22]:
X = loadmat('MatlabTest.mat')

In [23]:
X

{'__globals__': [],
 '__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Sun Jun 18 12:46:39 2017',
 '__version__': '1.0',
 'data': array([[['a', '1'],
         ['b', '2']]], dtype='<U1')}

In [24]:
X['data']

array([[['a', '1'],
        ['b', '2']]], dtype='<U1')

## Sqlite  - Relational Database

In [27]:
import sqlite3

In [28]:
conn = sqlite3.connect('SqliteTestDb.db')

In [29]:
cur = conn.cursor()

In [34]:
cur.execute("select * from employees")

In [35]:
rows = cur.fetchall()

In [37]:
for row in rows:
    print('---->',row)
    print(row[1])

----> (1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
Adams
----> (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
Edwards
----> (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
Peacock
----> (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
Park
----> (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
Johnson
----> (6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
Mitchell
----> (7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
King
----> (8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')
Callahan

In [38]:
df = pd.read_sql_query("select * from employees", conn)

In [39]:
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

# Fetch Remote File

In [42]:
html_url =  'http://www.google.com' #-- google
csv_url =   'https://raw.githubusercontent.com/alirazabhayani/data_repository/master/titanic.csv'
json_url1 = 'https://support.oneskyapp.com/hc/en-us/article_attachments/202761627/example_1.json'
json_url2 = 'https://support.oneskyapp.com/hc/en-us/article_attachments/202761727/example_2.json'

In [43]:
import requests

In [44]:
res = requests.get(html_url)

In [47]:
htmldata = res.text
print(htmldata)

<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en-PK"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="MxR88qcZvvWUDhTSxPV6SQ==">(function(){window.google={kEI:'4YxFXrXQOeOwrgTZgZr4AQ',kEXPI:'0,1353746,5663,731,223,3656,1448,207,2954,250,10,1051,175,364,975,460,4,60,690,52,75,383,867,738,10,93,415486,712177,1197780,244,125,329118,1294,12383,4855,32691,15248,867,28684,363,8825,8384,4858,1362,4323,4967,3030,7856,7910,2,1811,1976,2044,8909,5297,2974,873,38,1179,2975,6430,7432,3254,620,2883,17,321,1982,1191,1345,1396,1382,519,401,2276,7,1633,1163,1593,1279,390,1822,202,328,149,1103,840,517,1474,48,820,3438,260,52,1136,3,2063,606,1839,184,1777,143,379,258,426,1261,747,429,44,999,103,328,1284,24,76,417,2426,1639,607,474,1339,29,719,1039,3227,773,2073,6,817,503,3488,791,2034,6513,2662,170,472,426,2024,2458,1226,1458,4,280,421,2424,810,1274,108,1246,1680,481,908,2,433,143,917,1696,366,2397,1953,3111,355,225,996,830,840,185,2,23,270,1426,355,523,200,30,157,813,14,169,388,40,126,128,372,264,531,29,400,73,218,370,238,396,1026,1,707,148,543,1476,593,527,157,205,131,61,300,11,1,240,485,15,38,199,2,22,109,1,260,93,390,71,62,26,36,117,46,2,52,36,160,10,421,116,8,127,740,27,325,189,20,992,235,60,62,744,155,668,5846916,3215,1802679,4194806,162,2801054,549,333,444,1,2,80,1,900,896,1,8,1,2,2551,1,748,141,59,736,563,1,4265,1,1,1,1,137,1,879,9,305,239,277,7,10,7,18,5,4,20743817,3220020,24',kBL:'YUnL'};google.sn='webhp';google.kHL='en-PK';})();(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||google.kEI};google.getLEI=function(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b};google.ml=function(){return null};google.time=function(){return Date.now()};google.log=function(a,b,e,c,g){if(a=google.logUrl(a,b,e,c,g)){b=new Image;var d=google.lc,f=google.li;d[f]=b;b.onerror=b.onload=b.onabort=function(){delete d[f]};google.vel&&google.vel.lu&&google.vel.lu(a);b.src=a;google.li=f+1}};google.logUrl=function(a,b,e,c,g){var d="",f=google.ls||"";e||-1!=b.search("&ei=")||(d="&ei="+google.getEI(c),-1==b.search("&lei=")&&(c=google.getLEI(c))&&(d+="&lei="+c));c="";!e&&google.cshid&&-1==b.search("&cshid=")&&"slh"!=a&&(c="&cshid="+google.cshid);a=e||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+d+f+"&zx="+google.time()+c;/^http:/i.test(a)&&"https:"==window.location.protocol&&(google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a};}).call(this);(function(){google.y={};google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};}).call(this);google.f={};(function(){
document.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"==c||"q"==c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!=document.documentElement;a=a.parentElement)if("A"==a.tagName){a="1"==a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);
var a=window.location,b=a.href.indexOf("#");if(0<=b){var c=a.href.substring(b+1);/(^|&)q=/.test(c)&&-1==c.indexOf("#")&&a.replace("/search?"+c.replace(/(^|&)fp=[^&]*/g,"")+"&cad=h")};</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}
</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#36c}.q{color:#00c}.ts td{padding:0}.ts{border-collapse:collapse}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}a.gb1,a.gb2,a.gb3,a.gb4{color:#11c !important}body{background:#fff;color:#000}a{color:#11c;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#36c}a:visited{color:#551a8b}a.gb1,a.gb4{text-decoration:underline}a.gb3:hover{text-decoration:none}#ghead a.gb2:hover{color:#fff !important}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#eee;border:solid 1px;border-color:#ccc #999 #999 #ccc;height:30px}.lsbb{display:block}.ftl,#fll a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#ccc}.lst:focus{outline:none}</style><script nonce="MxR88qcZvvWUDhTSxPV6SQ=="></script></head><body bgcolor="#fff"><script nonce="MxR88qcZvvWUDhTSxPV6SQ==">(function(){var src='/images/nav_logo229.png';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}
if (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}
}
})();</script><div id="mngb"> <div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="http://www.google.com.pk/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="http://www.youtube.com/?gl=PK&tab=w1">YouTube</a> <a class=gb1 href="http://news.google.com.pk/nwshp?hl=en&tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 href="https://www.google.com/calendar?tab=wc">Calendar</a> <a class=gb1 style="text-decoration:none" href="https://www.google.com.pk/intl/en/about/products?tab=wh"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.com.pk/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=http://www.google.com/" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div> </div><center><br clear="all" id="lgpd"><div id="lga"><img alt="Google" height="92" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272" id="hplogo"><br><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en-PK" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input class="lst" style="color:#000;margin:0;padding:5px 8px 0 6px;vertical-align:top" autocomplete="off" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" id="tsuid1" value="I'm Feeling Lucky" name="btnI" type="submit"><script nonce="MxR88qcZvvWUDhTSxPV6SQ==">(function(){var id='tsuid1';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}
else top.location='/doodles/';};})();</script><input value="AAP1E1EAAAAAXkWa8R9zaclQuw0DSiTQYAd5y_9O_E6u" name="iflsig" type="hidden"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en-PK&amp;authuser=0">Advanced search</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="MxR88qcZvvWUDhTSxPV6SQ==">(function(){var a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br><div id="gws-output-pages-elements-homepage_additional_languages__als"><style>#gws-output-pages-elements-homepage_additional_languages__als{font-size:small;margin-bottom:24px}#SIvCob{display:inline-block;line-height:28px;}#SIvCob a{padding:0 3px;}.H6sW5{display:inline-block;margin:0 2px;white-space:nowrap}.z4hgWe{display:inline-block;margin:0 2px}</style><div id="SIvCob">Google offered in:  <a dir="rtl" href="http://www.google.com/setprefs?sig=0_8e7YIoOgungVQKvnEyN8I3uyoec%3D&amp;hl=ur&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwj1xMqHjM_nAhVjmIsKHdmABh8Q2ZgBCAU">&#1575;&#1585;&#1583;&#1608;</a>    <a dir="rtl" href="http://www.google.com/setprefs?sig=0_8e7YIoOgungVQKvnEyN8I3uyoec%3D&amp;hl=ps&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwj1xMqHjM_nAhVjmIsKHdmABh8Q2ZgBCAY">&#1662;&#1690;&#1578;&#1608;</a>    <a dir="rtl" href="http://www.google.com/setprefs?sig=0_8e7YIoOgungVQKvnEyN8I3uyoec%3D&amp;hl=sd&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwj1xMqHjM_nAhVjmIsKHdmABh8Q2ZgBCAc">&#1587;&#1606;&#1676;&#1610;</a>  </div></div></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="fll"><a href="/intl/en/ads/">Advertising¬†Programs</a><a href="/intl/en/about.html">About Google</a><a href="http://www.google.com/setprefdomain?prefdom=PK&amp;prev=http://www.google.com.pk/&amp;sig=K_MirRQbXPId9G_eKf6fqFnKLIBSw%3D">Google.com.pk</a></div></div><p style="color:#767676;font-size:8pt">&copy; 2020 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="MxR88qcZvvWUDhTSxPV6SQ==">(function(){window.google.cdo={height:0,width:0};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();(function(){var u='/xjs/_/js/k\x3dxjs.hp.en.St8PMG2z5mw.O/m\x3dsb_he,d/am\x3dgAEBNgI/d\x3d1/rs\x3dACT90oEyIrU_gw9YORhiJO_V_r5xQgoXFA';
setTimeout(function(){var b=document;var a="SCRIPT";"application/xhtml+xml"===b.contentType&&(a=a.toLowerCase());a=b.createElement(a);a.src=u;google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");document.body.appendChild(a)},0);})();(function(){window.google.xjsu='/xjs/_/js/k\x3dxjs.hp.en.St8PMG2z5mw.O/m\x3dsb_he,d/am\x3dgAEBNgI/d\x3d1/rs\x3dACT90oEyIrU_gw9YORhiJO_V_r5xQgoXFA';})();function _DumpException(e){throw e;}
function _F_installCss(c){}
(function(){google.spjs=false;google.snet=true;google.em=[];google.emw=false;google.pdt=0;})();(function(){var pmc='{\x22d\x22:{},\x22sb_he\x22:{\x22agen\x22:true,\x22cgen\x22:true,\x22client\x22:\x22heirloom-hp\x22,\x22dh\x22:true,\x22dhqt\x22:true,\x22ds\x22:\x22\x22,\x22ffql\x22:\x22en\x22,\x22fl\x22:true,\x22host\x22:\x22google.com\x22,\x22isbh\x22:28,\x22jsonp\x22:true,\x22msgs\x22:{\x22cibl\x22:\x22Clear Search\x22,\x22dym\x22:\x22Did you mean:\x22,\x22lcky\x22:\x22I\\u0026#39;m Feeling Lucky\x22,\x22lml\x22:\x22Learn more\x22,\x22oskt\x22:\x22Input tools\x22,\x22psrc\x22:\x22This search was removed from your \\u003Ca href\x3d\\\x22/history\\\x22\\u003EWeb History\\u003C/a\\u003E\x22,\x22psrl\x22:\x22Remove\x22,\x22sbit\x22:\x22Search by image\x22,\x22srch\x22:\x22Google Search\x22},\x22ovr\x22:{},\x22pq\x22:\x22\x22,\x22refpd\x22:true,\x22rfs\x22:[],\x22sbpl\x22:16,\x22sbpr\x22:16,\x22scd\x22:10,\x22stok\x22:\x22meuMqQ7_Me7lg4LMrQFtd5MaqG0\x22,\x22uhde\x22:false}}';google.pmc=JSON.parse(pmc);})();</script>        </body></html>

In [48]:
from bs4 import BeautifulSoup

In [49]:
soup = BeautifulSoup(htmldata, 'html.parser')

In [50]:
soup.find('title').string

'Google'

In [54]:
csv_url =   'https://raw.githubusercontent.com/alirazabhayani/data_repository/master/titanic.csv'
json_url1 = 'https://support.oneskyapp.com/hc/en-us/article_attachments/202761627/example_1.json'
json_url2 = 'https://support.oneskyapp.com/hc/en-us/article_attachments/202761727/example_2.json'

In [55]:
res = requests.get(json_url1)

In [58]:
res.text

'{\n    "fruit": "Apple",\n    "size": "Large",\n    "color": "Red"\n}'

In [60]:
json_data = res.json()
json_data

{'color': 'Red', 'fruit': 'Apple', 'size': 'Large'}

In [62]:
json_data['fruit']

'Apple'

In [63]:
res2 = requests.get(json_url2)

In [65]:
res2.text

'{\n    "quiz": {\n        "sport": {\n            "q1": {\n                "question": "Which one is correct team name in NBA?",\n                "options": [\n                    "New York Bulls",\n                    "Los Angeles Kings",\n                    "Golden State Warriros",\n                    "Huston Rocket"\n                ],\n                "answer": "Huston Rocket"\n            }\n        },\n        "maths": {\n            "q1": {\n                "question": "5 + 7 = ?",\n                "options": [\n                    "10",\n                    "11",\n                    "12",\n                    "13"\n                ],\n                "answer": "12"\n            },\n            "q2": {\n                "question": "12 - 8 = ?",\n                "options": [\n                    "1",\n                    "2",\n                    "3",\n                    "4"\n                ],\n                "answer": "4"\n            }\n        }\n    }\n}'

In [66]:
json_data2 = res2.json()
json_data2

{'quiz': {'maths': {'q1': {'answer': '12',
    'options': ['10', '11', '12', '13'],
    'question': '5 + 7 = ?'},
   'q2': {'answer': '4',
    'options': ['1', '2', '3', '4'],
    'question': '12 - 8 = ?'}},
  'sport': {'q1': {'answer': 'Huston Rocket',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'question': 'Which one is correct team name in NBA?'}}}}

In [68]:
json_data2['quiz']

{'maths': {'q1': {'answer': '12',
   'options': ['10', '11', '12', '13'],
   'question': '5 + 7 = ?'},
  'q2': {'answer': '4',
   'options': ['1', '2', '3', '4'],
   'question': '12 - 8 = ?'}},
 'sport': {'q1': {'answer': 'Huston Rocket',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'question': 'Which one is correct team name in NBA?'}}}

In [69]:
json_data2['quiz']['maths']

{'q1': {'answer': '12',
  'options': ['10', '11', '12', '13'],
  'question': '5 + 7 = ?'},
 'q2': {'answer': '4',
  'options': ['1', '2', '3', '4'],
  'question': '12 - 8 = ?'}}

In [70]:
import pandas as pd

In [72]:
df = pd.read_csv(csv_url)

In [73]:
df.head()

   No Class     Sex    Age Survived Freq
0   1   1st    Male  Child       No    0
1   2   2nd    Male  Child       No    0
2   3   3rd    Male  Child       No   35
3   4  Crew    Male  Child       No    0
4   5   1st  Female  Child       No    0

# API Data

In [101]:
# Online JSON data of a ToDo App

In [76]:
import requests
task_data = requests.get('https://jsonplaceholder.typicode.com/todos/1')

In [77]:
task_data.text

'{\n  "userId": 1,\n  "id": 1,\n  "title": "delectus aut autem",\n  "completed": false\n}'

In [79]:
import json

In [82]:
d = json.loads(task_data.text)
d

{'completed': False, 'id': 1, 'title': 'delectus aut autem', 'userId': 1}

In [83]:
json_data2 = task_data.json()
json_data2

{'completed': False, 'id': 1, 'title': 'delectus aut autem', 'userId': 1}

In [84]:
d['title']

'delectus aut autem'